<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/LightGray2">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#ffffff">
        <ImageView
            android:id="@+id/back2"
            android:layout_marginLeft="10dp"
            android:layout_marginTop="12dp"
            android:layout_width="25dp"
            android:layout_height="25dp"
            android:src="@drawable/back1"/>
        <TextView
            android:layout_width="match_parent"
            android:layout_height="50dp"
            android:text="设置"
            android:gravity="center"
            android:textSize="20dp">
        </TextView>
    </LinearLayout>
    <LinearLayout
        android:layout_marginTop="25dp"
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#ffffff">
        <TextView
            android:layout_marginLeft="20dp"
            android:layout_width="wrap_content"
            android:layout_height="30dp"
            android:text="账号设置"
            android:textSize="20sp"/>
        <ImageView
            android:layout_marginLeft="250dp"
            android:layout_marginTop="5dp"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:src="@drawable/inter1"/>
    </LinearLayout>
    <View
        android:layout_width="350dp"
        android:layout_height="2dp"
        android:layout_marginLeft="30dp"
        android:background="@color/LightGray2"/>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#ffffff">
        <TextView
            android:layout_marginLeft="20dp"
            android:layout_width="wrap_content"
            android:layout_height="30dp"
            android:text="消息与提醒"
            android:textSize="20sp"/>
        <ImageView
            android:layout_marginLeft="230dp"
            android:layout_marginTop="5dp"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:src="@drawable/inter1"/>
    </LinearLayout>
    <LinearLayout
        android:layout_marginTop="25dp"
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#ffffff">
        <TextView
            android:layout_marginLeft="20dp"
            android:layout_width="wrap_content"
            android:layout_height="30dp"
            android:text="帮助与反馈"
            android:textSize="20sp"/>
        <ImageView
            android:layout_marginLeft="230dp"
            android:layout_marginTop="5dp"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:src="@drawable/inter1"/>
    </LinearLayout>
    <View
        android:layout_width="350dp"
        android:layout_height="2dp"
        android:layout_marginLeft="30dp"
        android:background="@color/LightGray2"/>
    <LinearLayout
    android:orientation="horizontal"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:background="#ffffff">
    <TextView
        android:layout_marginLeft="20dp"
        android:layout_width="wrap_content"
        android:layout_height="30dp"
        android:text="网络监测"
        android:textSize="20sp"/>
    <ImageView
        android:layout_marginLeft="250dp"
        android:layout_marginTop="5dp"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:src="@drawable/inter1"/>
</LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#ffffff">
        <TextView
            android:layout_marginLeft="20dp"
            android:layout_width="wrap_content"
            android:layout_height="30dp"
            android:text="推荐给好友"
            android:textSize="20sp"/>
        <ImageView
            android:layout_marginLeft="230dp"
            android:layout_marginTop="5dp"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:src="@drawable/inter1"/>
    </LinearLayout>
    <LinearLayout
        android:layout_marginTop="25dp"
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#ffffff">
        <TextView
            android:layout_marginLeft="20dp"
            android:layout_width="wrap_content"
            android:layout_height="30dp"
            android:text="关于我们"
            android:textSize="20sp"/>
        <ImageView
            android:layout_marginLeft="250dp"
            android:layout_marginTop="5dp"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:src="@drawable/inter1"/>
    </LinearLayout>
    <View
        android:layout_width="350dp"
        android:layout_height="2dp"
        android:layout_marginLeft="30dp"
        android:background="@color/LightGray2"/>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#ffffff">
        <TextView
            android:layout_marginLeft="20dp"
            android:layout_width="wrap_content"
            android:layout_height="30dp"
            android:text="版本更新"
            android:textSize="20sp"/>
        <ImageView
            android:layout_marginLeft="250dp"
            android:layout_marginTop="5dp"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:src="@drawable/inter1"/>
    </LinearLayout>
</LinearLayout>